data/
model_architecture
model_architecture.png
output/
utils/__pycache__/rotinas.cpython-311.pyc
Metrics/__pycache__/
diffusion/__pycache__/Diffusion.cpython-311.pyc
utils/__pycache__/rotinas.cpython-311.pyc